body{
	 width:1500px;
	 height: 1020px;
}
.{
	margin:0;
	padding:0;
	
}
.clearfix{
	clear:both;
}
ul li{
	list-style:none;
}
#main_containt{
	width: 100%;
	margin: 0px auto;

}
ul#head_menu  {
	float: right;
    display: flex;
    width: 154px;
    height: 40px;
}
ul.sub-menu{
	position: absolute;
    display: none;
	padding: 10px 41px 0px;
}
ul#head_menu li:hover .sub-menu{
	display: block;
}
ul#head_menu li a{
	text-decoration:none;
	color:#A9A9A9;
	padding: 6px 15px;
}
#header a {
	color:#808080;
	text-decoration:none;
}
#logo{
	float:left;
	height:90px;
}
#logo img{
	height:100%;
}

ul#menu_category {
	position:fixed;
	padding-left: 20px;
	float: left;
	line-height: 24px;
}

ul#menu_category .category{
	position:relative;
	display:none;
}
ul#menu_category li:hover .category{
	position:relative;
	display:block;
}

