body{
	 width:1500px;
	 height: 1020px;
}
.{
	margin:0;
	padding:0;
	
}
.clearfix{
	clear:both;
}
ul li{
	list-style:none;
}
#main_containt{
	
	width: 100%;
	margin: 0px auto;
}
ul#head_menu  {
	float: right;
    display: flex;
    width: 153px;
    height: 30px;
	justify-content: space-evenly;
}
ul.sub-menu{
	position: absolute;
    display: none;
	padding: 10px 41px 0px;
}
ul#head_menu li:hover .sub-menu{
	display: block;
}
ul#head_menu li a{
	text-decoration:none;
	color:#A9A9A9;
	padding: 6px 15px;
}

#header a {
	color:#808080;
	text-decoration:none;
}
#logo{
	float:left;
	height:90px;
}
#logo img{
	height:100%;
}

ul#menu_category{
	position:fixed;
	padding-left: 20px;
	float: left;
	line-height: 24px;
}


.row{
	margin-left:-15px;
	margin-right:-15px;
}
ul#menu_category .category{
	position:relative;
	display:none;
}
ul#menu_category li:hover .category{
	position:relative;
	display:block;
}
.info{
	
	width:1300px;
	height:900px;
	float:right;
	position:relative;
}
.info_title{
	text-align:center;
	width:100%;
	height:80px;
	font-size:40px;
	color:#707070;
}
ul.info_content{
	width: 898px;
	display:flex;
	float:left;
	
}
ul.info_content li{
	width:100%;
	padding: 10px 20px 10px;
    list-style: none;
    text-align: left;
}
ul.click{
	width:100%;
	
}
ul.click li a{
	text-decoration:none;
	color:#989393;
}
ul.click li a:hover{
	width:100%;
	color:black;
	cussor:pointer;
}
ul.text{
	width:100%;
	border-left:5px solid #e0dfdf;
}